/*
 *
 * ANIMATIONS
 *
 * Available via @extend .style
 */


/*******************************
FADE 
*******************************/
.fade {
	opacity: 1;
	transition: opacity .3s ease-out;
	&:hover {
		opacity: 0;
	}
}


/*******************************
MOVEMENT
*******************************/
.move {
	opacity: 1;
	&:hover {
		animation : scrollBanner 0.8s ease-in-out infinite;
	}
}

@keyframes bounce {
	from { height: 40px; }
	60%  { height: 40px; }
	70%  { height: 34px; }
	80%  { height: 40px; }
	90%  { height: 34px; }
	to   { height: 40px; }
}