/*
 *
 * BUTTONS
 *
 */


/*******************************
GLOBAL BUTTONS 
*******************************/
.btn {
	color: white;
	text-decoration: none;
	margin: baseline(0.5) 0;
	padding: baseline(0.5) 1em baseline(0.25);
	display: inline-block;
	@include border-radius(0.75);
	background: site-color('primary');
	// font-weight: bold;
	@include font-size(20);
	padding: baseline(0.5) 1.5em;
	transition: all 0.2s ease-in-out;
	border: none;
	text-align: center;
	&:hover, &:active, &:focus {
		background: site-color-lighten('blue', 2);
		color: white;
	}
}

// ALTERNATE BUTTONS
.btn--orange { 
	background: site-color('orange');
	&:hover {
		background: site-color-lighten('orange', 2);
	}
}

// DISABLED BUTTON
.btn--disabled {
	background: site-color('foreground');
	&:hover {
		background-color: site-color-lighten('foreground',1);
	}
}

.wp-block-button {
	border: 1px solid red;
	&__link {
		border: 1px solid blue;
	}
}