/*
 *
 * BUTTONS
 *
 */


/*******************************
GLOBAL BUTTONS 
*******************************/
.btn, .btn-alt, .btn-disabled {
	color: white;
	text-decoration: none;
	margin: baseline(0.5) 0;
	padding: baseline(0.5) 1em;
	display: inline-block;
	@include border-radius(1);
	&:hover {
		color:white;
	}
}

// STANDARD BUTTON
.btn { 
	background: site-color('primary');
	text-shadow: 0 2px 2px black;
	font-weight: bold;
	font-style: italic;
	@include font-size(20);
	padding: 1em 1.5em;
	transition: all 0.2s ease-in-out;
	bordeR: none;
	&:hover, &:active, &:focus {
		background: site-color('blue-light');
	}
}

// ALTERNATE BUTTON
.btn-alt { 
	background: site-color('primary');
	&:hover {
		background-color: site-color-lighten('primary',2);
	}
}

// DISABLED BUTTON
.btn-disabled {
	background: site-color('foreground');
	&:hover {
		background-color: site-color-lighten('foreground',1);
	}
}

.wp-block-button {
	border: 1px solid red;
	&__link {
		border: 1px solid blue;
	}
}