/*
 *
 * CONTAINERS
 *
 */


body {
	width: 100%; 				// sets width for grid columns
	background: #fafafa;		// very light gray
	@include clearfix; 			// fixes height with grid columns
}


/*******************************
BACKGROUND WRAPS 
*******************************/
.wrap,
.page-wrap {
	width:100%;
	display:block;
	@include clearfix;
}
.page-wrap {
}

.header-wrap,
.main-wrap,
.footer-wrap {
	width:100%;
	@include clearfix;
}

.inner-wrap {
	padding: baseline(2) 0;			// padding top, bottom of the section, article
	&:first-child {
		padding-top: baseline(4);
	}
}
.text-wrap {
	padding-left: 10%;
	padding-right: 10%;
}


/*******************************
HEADER
*******************************/
.header-wrap {
	background: site-color('blue-black');
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	height: baseline(3.25);
	z-index: 50;			// put above other content
	//background-image: linear-gradient(to bottom,rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.2) 40%, rgba(0,0,0,0.05) 70%, rgba(0,0,0,0) 90%);
	@include bp('tablet-v') {		// ***** Tablet Vertical ***** //
	}
}
// homepage header
.home .header-wrap {
	background: linear-gradient(to bottom, site-color-alpha('blue-black', 'light') 0%, site-color-alpha('blue-black', 'none') 95%);
} 
.inner-wrap-header {
	display: flex;							// set logo and navigation inline
	flex-flow: row nowrap;					// set logo and navigation inline
	justify-content: space-between;			// space left and right sides
}


/*******************************
MAIN 
*******************************/
.main-wrap, sidebar {
	//margin-bottom: baseline(1);
}


/*******************************
SIDEBAR 
*******************************/
.sidebar {
}


/*******************************
FOOTER 
*******************************/
.footer-wrap {
}

