/*
 *
 * CONTAINERS
 *
 */


body {
	width: 100%; // sets width for grid columns
	background: site-color('foreground');
	@include clearfix; // fixes height with grid columns
}


/*******************************
BACKGROUND WRAPS 
*******************************/
.wrap,
.page-wrap {
	width:100%;
	display:block;
	@include clearfix;
}
.page-wrap {
	background-color: #f6f6f6;
}

.header-wrap,
.main-wrap,
.footer-wrap {
	width:100%;
	@include clearfix;
}

.inner-wrap,
.sidebar {
}


/*******************************
HEADER
*******************************/
.header-wrap {
	background-color: rgba(0,0,0,0.25);
	display: block;
	position: fixed;
	top: 0;
	left: 0;
}


/*******************************
MAIN 
*******************************/
.main-wrap, sidebar {
	//margin-bottom: baseline(1);
}


/*******************************
SIDEBAR 
*******************************/
.sidebar {
}


/*******************************
FOOTER 
*******************************/
.footer-wrap {
	background-color: site-color('foreground');
	background-image: linear-gradient(to bottom, #444 0%, site-color('foreground') 7%);
}

