/*
 *
 * FOOTER STYLES
 *
 */


/*******************************
CONTACT INFORMATION 
*******************************/
.footer-wrap {
	background: site-color-lighten('black', 1.25);
	padding-top: baseline(0.25);
	h4 {
		margin-bottom: 0;
	}
	.widget {
		display:block;
		width:100%;
		text-align: center;
	}
}

/*******************************
COPYRIGHT
*******************************/
.copyright {
	@include font-size(12);
	text-align: center;
	color: site-color-lighten('text', 6);
}