/*
 *
 * FORM STYLES
 *
 */


/*******************************
CONTACT FORM 
*******************************/
form { 
	width: 100%;
	background: #fafafa;
	padding: 1em;
	@include border-radius(0.75);
	// remove gravity form default list styles
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	@include bp('tablet-v') {
		padding: 2em;
	}
}

input, select, textarea {
	outline:none;
}

label { 
	color: site-color('text');
	@include font-size(14);
}

label abbr { // Required Form Fields
	color: alert-color('error');
}

textarea, 
input[type='text'], 
input[type='password'], 
input[type='url'], 
input[type='email'], 
input[type='search'], 
input[type='number'],
input[type='newsletter'], 
input[type='color'], 
input[type='date'], 
input[type='month'], 
input[type='week'], 
input[type='datetime'], 
input[type='datetime-local'] {
	width: 100%;
	padding: baseline(0.5) 0.75em;
	border: none;
	border-bottom: 2px solid site-color-lighten('foreground', 7);
	box-shadow: 0 0 0.25em rgba(130,130,130,0.1);
	@include border-radius(0.25);
	color: site-color('blue-dark');
	&:focus {
		border-bottom-color: site-color('primary');
	}
}

// TEXT AREA
textarea {
	height:baseline(8); 
}


/*******************************
PLACEHOLDER TEXT
*******************************/
::placeholder {
	color: site-color-lighten('foreground', 8);
}


/*******************************
RADIO BUTTONS
*******************************/
fieldset {
	@include border-radius(1);
}

input[type='radio'] {
	appearance:none;
	cursor:pointer;
	background-color: site-color-lighten('foreground',1);
	color:#f0f;
	margin-top: 1em;
	@include border-radius(100);
}

input[type="radio"]:checked:after {
	background-color: site-color-lighten('foreground',1);
	@include border-radius(100);
	content:"\00a0";
	display:block;
	height:1.5em;
	width:1.5em;
	margin:-.3em -.4em;
}


/*******************************
DROPDOWN BOX
*******************************/
.styled-select {
	background-color: blue;
	color: site-color('text');
	margin-bottom:baseline(1);
	padding:.25em 0;
	display:inline-block;
	@include border-radius(1);
	cursor:pointer;
}

.styled-select:before {
	content:'\f103';
	padding-left:.25em;
	border: solid 2px blue;
	border-width: 0 0 0 1px;
	pointer-events:none;
	display:block;
}

select {
	-webkit-appearance: none !important;
	appearance:none;
	width:100%;
	background-color: site-color('foreground');
	margin:0;
	padding:0.5em;
	display:inline-block;
	border:none;
	cursor:pointer;
}


/*******************************
CHECKBOX
*******************************/
input[type='checkbox'] {
	-webkit-appearance: none !important;
	appearance:none;
	width:14px;
	height:14px;
	background-color: site-color-lighten('foreground',2);
	margin-top: 1em;
	@include border-radius(1);
	cursor:pointer;
}

input[type='checkbox']:checked:after {
	content:"\00a0";
	width:.5em;
	height:1em;
	display:block;
	position:relative;
	border:solid site-color('text');
	border-width:0 4px 4px 0;
	transform:rotate(45deg); 
}


/*******************************
RANGE SLIDER
*******************************/
input[type='range'] {
	width: 100%;
	-webkit-appearance: none !important;
	background: site-color('foreground');
	height:4px;
	margin-bottom: baseline(1);
}
input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none !important;
	background: site-color-lighten('foreground',1);
	height:1.5em;
	width:1.5em;
	@include border-radius(100);
}


/*******************************
SUBMIT BUTTON
*******************************/
input[type='submit'] {
	cursor:pointer;
	@extend .btn;
}


/*******************************
NEWSLETTER
*******************************/
.inline-container {
	position: relative;
}
.newsletter-field {
	padding: baseline(0.5) 1em;
}
.newsletter-submit {
	position: absolute;
	right:0;
	top:-0.5em;
}


/*******************************
GRAVITY FORMS
*******************************/
.gform_validation_container {
	display: none !important;
	position: absolute !important;
	left: -9999px;
}

// REQUIRED FIELDS
.gfield_required {
	color: alert-color('error');		// red
	font-weight: bold;
	margin-left: 0.25em;				// move away from text
}

// TEXT INPUT ERROR
.error { // Label
	color: alert-color('error');
}
.is-error { // Text field
	background:  alert-color-lighten('error',6);
	border-bottom: 2px solid  alert-color('error');
}
.validation_error, .validation_message {
	color: alert-color('error');
	padding: baseline(0.25) 1em;
}
.validation_error {
	background-color: site-color('white');
	border: 1px solid alert-color('error');
	margin-bottom: baseline(1);
}
.validation_message {
	background: site-color-lighten('red', 9);
	border-top: 2px solid alert-color('error');
}

// TEXT INPUT VALID
.valid { // Label
	color: alert-color('good');
}
.is-valid { // Text field
	border-bottom-color: alert-color('good');
}
.gform_confirmation_message {
	color: alert-color('good');
	padding: baseline(0.25) 1em;
	background-color: site-color-lighten('green', 9);
	//border: 1px solid alert-color('good');
	margin-bottom: baseline(1);
	font-weight: bold;
}


/*******************************
CONTACT FORM
*******************************/
#gform_fields_1 {
	display: flex;
	flex-flow: column nowrap;
	li {
		.has_first_name span {										// fix for name, first last, fields
			margin: 0;
			display: inline-block;
			width: 100%;
		}
		.has_first_name span:nth-child(1) {							// fix for name, push last name field down
			margin-bottom: baseline(0.5);
		}
	}
	@include bp('tablet-v') {	// ***** Tablet Vertical and up ***** //
		flex-flow: row wrap;
		li {
			flex-basis: 45%;
			margin-right: 5%;
			&:nth-child(1), &:nth-child(6) {						// fix for name, first last, fields
				flex-basis: 95%;
			}
			.has_first_name > span {								// fix for name, first last, fields
				width: 47%;
			}
			.has_first_name > span:first-child {
				margin-right: 4.5%;
			}
		}
	}
}