/*
 *
 * NAVIGATION
 *
 */


/*******************************
HEADER & FOOTER NAVIGATION 
*******************************/
.nav-header, .nav-footer {
	width:100%;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	ul {
		margin: 0;
		padding: 0;
		@include font-size(18);
		text-align: center;
		list-style: none;
		display: flex;
		flex-flow: column wrap;
		justify-content: space-around;
		align-content: space-around;
	}
	li {
		width:100%;
		flex-grow: 1;
	}
}

.nav-header {						// mobile navigation positioning
	width: 16em;						// reduce menu mobile
	max-width: 30em;
	position: absolute;
	top: baseline(4.5);
	right: 0;

	h3 { // is the 'menu-toggle'
		position: absolute;			// parent positioning for hamberger menu
		width: 100px;
		top: - baseline(4);
		right: 0.5em;
		a {
			text-align: right;
			padding-right: 0.5em;			// menu text right side spacing
			background: site-color-lighten('blue-dark', 1);
		}
		&::before, &::after {
			content: '';
			position: absolute;
			left: 0.5em;
			width: 16px;
			height: 2px;
			background: site-color('white');
			display: block;
			color: site-color('white');
			transition: all 0.2s ease;
		}
		&::before {
			top: 50%;
			margin-top: -4px;
		}
		&::after {
			bottom: 50%;
			margin-bottom: -4px;
		}
		&.active {
			&::before, &::after {
				margin-top: -1px;
				margin-bottom: -1px;
			}
			&::before {
				transform: rotateZ(45deg);
			}
			&::after {
				transform: rotateZ(-45deg);
			}
		}
	}
	ul {
		width: 100%;
		border-top-left-radius: 0.25em;
		border-bottom-left-radius: 0.25em;
		overflow: hidden;
		border: 2px solid site-color('secondary');	
		display: block;
		padding: 2px;
		background: site-color('secondary');
		position: absolute;
		top: - baseline(1);
		right: -100%;			// slide menu off screen
		transition: all 0.5s ease;
		&.active {
			right: 0;			// slide menu on screen
		}
	}
	li {
		background: site-color('secondary');
		&:last-child a {			// Get in Touch callout
			color: white;
			border-color: site-color('primary');
			background: site-color-alpha('blue-dark','light');
			&:hover, &:focus {
				color: rgba(255,255,255,1);
				background: site-color-alpha('primary', 'dark');
			}
		}
	}
	a {
		color: rgba(255,255,255,0.85);
		text-decoration: none;
		text-shadow: 0 2px 2px black;
		padding: baseline(0.6) 0;
		display:block;
		border-radius: 0.15em;
		border: 2px solid rgba(0,0,0,0);
		&:hover, &:focus {
			color: rgba(255,255,255,1);
			background: site-color-alpha('primary', 'dark');
		}
	}
	@include bp('tablet-h') {		// ***** Tablet Vertical ***** //
		width: 80%;				// collapse menu width
		top: baseline(1.125);
		ul {
			display: flex; // shows the navigation
			flex-flow: row nowrap; // format as a row
			margin-right: 2em;
			border: none;
			background: none;
			box-shadow: none;
			right: 0;			// return menu on screen
		}
		li {
			background: none;
			width: auto; // reduces the width from 100%;
			margin: baseline(0.25) 0.25em;
		}
	}
}


.nav-footer {
	ul {
		flex-flow: row wrap; // format as a row
		width: 90%;
		margin: baseline(1) auto 0 auto;		// push down from body content
	}
	a {
		color: site-color-lighten('text', 2);
		@include font-size(14);
		text-decoration: none;
		display:block;
		&:hover, &:focus {
			color: site-color('primary');
			text-decoration: underline;
		}
	}
	@include bp('phone-v') {	// ***** Phone Vertical ***** //
		li {
			flex-basis: 25%;						// set 2-up for mobile
		}
	}
	@include bp('tablet-v') {	// ***** Tablet Vertical ***** //
		ul {
			width: 400px;
		}
		li {
			flex-basis: 25%;
		}
	}
}


/*******************************
BREADCRUMB TRAIL 
*******************************/
.breadcrumbs {
	list-style: none;
	margin-top:0;
	padding-left:0;
	@include clearfix;
	li {
		float:left;
		&:before {
			content:' > ';
			color: site-color('primary');
		}
		a {
			text-decoration: none;
			&:hover {
				color: alert-color('error');
			}
		}
	}
}


/*******************************
PAGINATION
*******************************/
.pagination {
	list-style: none;
	margin-top:0;
	padding-left:0;
	@include clearfix;
	li {
		float: left;
		margin: 1em 0;
		border-right: 1px solid site-color('foreground');
		&:last-child {
			border-right: none;
		}
		a {
			width: 100%;
			height: 100%;
			color: site-color('primary');
			text-decoration: none;
			padding:  baseline(1) 1.5em;
			display: inline-block;
			&:hover {
				background: site-color('background');
			}
		}
	}
}


/*******************************
TABS
*******************************/
.tabs, .accordion {
	@include clearfix;
	ul {
		margin-top:0;
		padding-left: 0;
	}
	li {
		@include column(4);
		text-align: center;
		float: left;
		a {
			width: 100%;
			height: 100%;
			background: site-color('primary');
			color:white;
			text-decoration: none;
			padding:  baseline(1) 1.5em;
			display: inline-block;
			&:hover {
				background: site-color-lighten('primary',2);
			}
		}
	}
}
.accordion li {
	@include column(12);
	text-align: left;
	position: relative;
	&:after {
		content: '+';
		color: white;
		position: absolute;
		right: 1em;
		top:1em;
	}
}


/*******************************
SINGLE COMMENT 
*******************************/
.comment-container {
	list-style: none;
	@include clearfix;
	.comment-meta {
		@include column(2);
		float: left;
		a {
			color: black;
			text-decoration: none;
			&:hover {
				color: site-color('primary');
			}
		}
	}
	.comment-text {
		@include column(10);
		display: inline-block;
		float: right;
	}
}


/*******************************
ALERT 
*******************************/
.alert {
	background: site-color('background');
	text-align: center;
	border: 1px solid site-color('foreground');
	padding:  baseline(1) 1.5em;
}
