/*
 *
 * NAVIGATION
 *
 */


/*******************************
HEADER & FOOTER NAVIGATION 
*******************************/
.nav-header, .nav-footer {
	width:100%;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	ul {
		margin: 0;
		padding: 0;
		@include font-size(18);
		text-align: center;
		list-style: none;
		display: flex;
		flex-flow: column wrap;
		justify-content: space-around;
		align-content: space-around;
	}
	li {
		width:100%;
		flex-grow: 1;
	}
}

.nav-header {						// mobile navigation positioning
	width: 12em;						// reduce menu mobile
	max-width: 30em;
	position: absolute;
	top: baseline(0.5);
	right: 0.5em;

	/* h3 { // is the 'menu-toggle'
		position: absolute;			// parent positioning for hamberger menu
		width: 100px;
		top: - baseline(4);
		right: 0.5em;
		a {
			text-align: right;
			padding-right: 0.5em;			// menu text right side spacing
			background: site-color-lighten('blue-dark', 1);
		}
		&::before, &::after {
			content: '';
			position: absolute;
			left: 0.5em;
			width: 16px;
			height: 2px;
			background: site-color('white');
			display: block;
			color: site-color('white');
			transition: all 0.2s ease;
		}
		&::before {
			top: 50%;
			margin-top: -4px;
		}
		&::after {
			bottom: 50%;
			margin-bottom: -4px;
		}
		&.active {
			&::before, &::after {
				margin-top: -1px;
				margin-bottom: -1px;
			}
			&::before {
				transform: rotateZ(45deg);
			}
			&::after {
				transform: rotateZ(-45deg);
			}
		}
	} */
	ul {
		width: 50%;
		//border-top-left-radius: 0.25em;
		//border-bottom-left-radius: 0.25em;
		//overflow: hidden;
		//border: 2px solid site-color('secondary');
		display: block;
		//padding: 2px;
		//background: site-color('secondary');
		position: absolute;
		top: 0;
		right: 0;
		transition: all 0.5s ease;
	}
	li {
		&:last-child a {			// Get in Touch callout
			color: rgba(255,255,255,0);
			height: baseline(2);
			background: site-color('primary');
			@include border-radius(0.75);			// same as .btn from _buttons.scss
			&:hover, &:focus {
				color: rgba(255,255,255,0);
				background: site-color-lighten('primary', 1);
			}
			&::before {
				content: '';
				width: 24px;
				height: 24px;
				display: block;
				position: absolute;
				left: calc(50% - 12px);
				background-image: url('../images/icon_write.svg');
			}
		}
	}
	a {
		background: site-color('white');
		color: site-color('primary');
		text-decoration: none;
		padding: baseline(0.4) 0;
		display:block;
		border-radius: 0.15em;
		border: 2px solid site-color('primary');
		&:hover, &:focus {
			color: site-color('white');
			background: site-color('primary');
		}
	}
	@include bp('tablet-v') {		// ***** Tablet Vertical ***** //
		width: 100%;				// collapse menu width
		ul {
			display: flex; // shows the navigation
			flex-flow: row nowrap; // format as a row
			margin-right: 4vw;
			border: none;
			background: none;
			box-shadow: none;
			right: 0;			// return menu on screen
		}
		li {
			background: none;
			width: auto; // reduces the width from 100%;
			margin: baseline(0.125) 0.25em;
			&:last-child a {
				color: site-color('white');
				height: 50px;
				&:hover, &:visited, &:active {
					color: site-color('white');
				}
				&::before {
					background: none;
					color: site-color('white');
				}
			}
		}
	}
	@include bp('tablet-h') {		// ***** Tablet Vertical ***** //
		ul {
			margin-right: 5vw;
		}
		li {
			margin: baseline(0.25) 0.25em;
		}
	}
}
.home .nav-header li:first-child a, .page-id-23 .nav-header li:last-child a {
	display: none;
}
.home .nav-header li:first-child, .page-id-23 .nav-header li:last-child {
	display: none;
}