/*
 *
 * PAGE STYLES
 *
 */


/*******************************
HOME
*******************************/
.splash-hero {
	background-size: cover;
	background-position: center center;
	padding: 25vw 1em 20vw 1em;		// spacing for nav on top
	@include bp('tablet-v') {
		padding: 11em 1em 10em 1em;		// spacing for nav on top
	}
}
.splash-title {
	color: white;
	text-align: center;
}
.splash-text {
	margin: auto;
	color: #f9f9f9;
	h2 {
		text-align: center;
		@include font-size(30);
		text-shadow: 1px 2px 3px black;
	}
	h3 {
		text-align: center;
		text-shadow: 1px 2px 3px black;
		letter-spacing: 2px;
		line-height: 1;
		margin-bottom: baseline(0.75);		// space equal distance from p
	}
	p {
		position: relative;					// set parent positioning for ::before, ::after
		max-width: 800px;					// set fixed width
		background: site-color('blue-dark');
		padding: 1.5em 2em 2.25em 2em;
		margin: auto;
		@include font-size(18);
		line-height: baseline(1);
		box-shadow: 1px 2px 3px rgba(0,0,0,0.5);
		&::before, &::after {
			content: '';
			position: absolute;
			left: 2%;
			width: 96%;
			height: 2px;
			background-image: linear-gradient(to left, site-color-alpha('secondary', 'dark') 0%, site-color-alpha('primary', 'light') 50%, site-color-alpha('secondary', 'dark') 100%);
			// border-top: 2px dotted site-color-alpha('primary', 'dark');
		}
		&::before {
			top: 3%;
		}
		&::after {
			bottom: 3%;
		}
	}
	@include bp('tablet-v') {		// ***** Tablet Vertical ***** //
		h2 {
			font-size: 5vw;
		}
		h3 {
			font-size: 3vw;
		}
	}
	@include bp('television') {		// ***** Tablet Vertical ***** //
		h2 {
			@include font-size(60);
		}
		h3 {
			@include font-size(36);
		}
	}
}

.cta-block {
	text-align: center;
	margin: -3.25em auto 0 auto;
	position: relative; 				// set parent positioning for ::after
	z-index: 2;
	.btn {
		background: site-color('accent');
		background-image: linear-gradient(to bottom, site-color('accent') 10%, site-color('green-dark') 90%);
		box-shadow: inset 0 -0.15em 0.15em rgba(0,0,0,0.25), inset 0 0.15em 0.15em rgba(255,255,255,0.5);
		border: 0.35em solid site-color('blue-dark');
		text-shadow: 0 1px 3px black;
		font-weight: bold;
		font-style: italic;
		@include font-size(18);
		padding: 1em 1.5em;
		transition: all 2s ease-in-out;
		transition-delay: 0.2s;
		&:hover {
			background: site-color('green-light');
			background-image: linear-gradient(to bottom, site-color('green-light') 10%, site-color('accent') 90%);
			border-color: site-color('green-light');
		}
	}
	/* .btn {
		background: site-color('accent');
		background-image: linear-gradient(to bottom, site-color('accent') 10%, site-color('green-dark') 90%);
		box-shadow: 0 0.25em 1em rgba(0,0,0,1), inset 0 -0.15em 0.15em rgba(0,0,0,0.25), inset 0 0.15em 0.15em rgba(255,255,255,0.5);
		border: 2px solid site-color('accent');
		text-shadow: 0 1px 3px black;
		font-weight: bold;
		font-style: italic;
		@include font-size(18);
		padding: 1em 1.5em;
		transition: all 0.2s ease-in-out;
		&:hover {
			background: site-color('green-light');
			background-image: linear-gradient(to bottom, site-color('green-light') 10%, site-color('accent') 90%);
			border-color: site-color('green-light');
		}
	} */
}

/**** Callouts ****/
.feature-callouts {
	display: flex;
	flex-flow: column nowrap;			// vertical orientation
	border-top: 6px solid site-color('primary');		// blue line above
	border-bottom: 7px solid site-color('primary');		// blue line below
	&-item {
		background: linear-gradient(45deg, #fff 0%, #eee 100%);
		padding: 1em 1.5em;
	}
	@include bp('tablet-v') {		// ***** Tablet Vertical ***** //
		flex-flow: row nowrap;			// horizontal orientation
	}
}
.cta {
	&-icon {
		max-width: 50px;
		margin: auto;
	}
	&-title {
		text-align: center;
	}
	&-text {
		
	}
}

/*******************************
CONTACT
*******************************/
.project-form {
	padding: baseline(5) 10% baseline(2);
}




/*******************************
BLOG
*******************************/
// BLOG ARCHIVE LIST
.block-thumb {
	.b-inner {
		@include clearfix;
	}
	.b-thumb {
		@include column(3);
	}
	.b-text {
		@include column(9);
	}
	.b-title {
		
	}
}

.block-headline {
	text-decoration: none;
}

.block-hero {
	.b-thumb {
		@include column(12);
	}
}

.block-inset {
	.b-thumb {
		
	}
	.b-text {
		background: black;
		margin-top: baseline(-4);
		padding-left:1em;
		position: relative;
		z-index: 10;
	}
}

// AUTHOR INFORMATION
.byline { // Author name
	@include font-size(14);
}

// COMPANY INFORMATION
.vcard {
	@include font-size(16);
	.org { // Company name
		font-weight: bold;
	}
	.adr { // Company address
		
	}
	.tel { // Company telephone
	
	}
}
